body {
  background-color: black;
}

a {
  text-decoration: none;
}

.footer {
  height: 30px;
  text-align: center;
  color: #3090c7;
  background-color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10;
  background-color: #e5e4e2;
  color: #3090c7;
  height: 30px;
}

li {
  display: inline;
}

.main {
  background-color: white;
}
