.left-header {
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  width: 564px;
  height: 150px;
  text-align: center;
  font-size: 35px;
  color: white;
}

.right-header {
  width: 300px;
  padding: 10px;
  background-color: #7f955f;
  color: white;
}

.title-font {
  font-size: 22px;
  font-weight: bold;
}

.nav-bar {
  clear: both;
  background-color: #a9cf8f;
  height: 30px;
}

td > a {
  text-decoration: none;
  color: black;
}

.footer {
  background-image: url(../img/bgfooter.gif);
  height: 30px;
  text-align: center;
}
